<div class="container">

    <!-- <p>
      TODO: navigation component.
    </p> -->
    
    <mat-card>
    <form>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          
          <mat-form-field fxFlex="24%">
            <mat-label>Feature</mat-label>
            <mat-select>
              <mat-option *ngFor="let feature of featureData" [value]="feature">
                {{ feature }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <span fxFlex="4%" fxHide.lt-md></span>
  
          <mat-form-field fxFlex="24%">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option *ngFor="let category of categoryData" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <span fxFlex="4%" fxHide.lt-md></span>
  
          <mat-form-field fxFlex="24%">
            <mat-label>Product</mat-label>
            <mat-select>
              <mat-option *ngFor="let product of productData" [value]="product">
                {{ product }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex="88%" fxHide.lt-md></span>

          <mat-form-field fxFlex="28%">
            <mat-label>Weightage</mat-label>
            <input type="number" matInput>
          </mat-form-field>
          * Range : 0.0 - 1.0

          

          <span fxFlex="48%" fxHide.lt-md></span>

          <mat-form-field fxFlex="18%">
            <mat-label>Colour</mat-label>
              <mat-select>
                <mat-option *ngFor="let colour1 of colour1Data" [value]="colour1">
                    {{ colour1 }}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(min.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let min of minData" [value]="min">
                  {{ min }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(max.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let max of maxData" [value]="max">
                  {{ max }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex="88%" fxHide.lt-md></span>

          <mat-form-field fxFlex="18%">
            <mat-label>Colour</mat-label>
              <mat-select>
                <mat-option *ngFor="let colour2 of colour2Data" [value]="colour2">
                    {{ colour2 }}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(min.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let min of minData" [value]="min">
                  {{ min }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(max.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let max of maxData" [value]="max">
                  {{ max }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex="88%" fxHide.lt-md></span>

          <mat-form-field fxFlex="18%">
            <mat-label>Colour</mat-label>
              <mat-select>
                <mat-option *ngFor="let colour3 of colour3Data" [value]="colour3">
                    {{ colour3 }}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(min.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let min of minData" [value]="min">
                  {{ min }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label>Score Range(max.)</mat-label>
            <mat-select>
              <mat-option *ngFor="let max of maxData" [value]="max">
                  {{ max }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          

        </div> 

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <!-- Here GET used for getting Configuration Detials Page -->
          <button mat-raised-button color="accent" [routerLink]="['/configurationdetails']">Get</button>
          <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
          <button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>

    </form>
    </mat-card>
  
  </div>
  