<!-- Form for Feature Screen -->
<div class="container">
    <mat-card>
        <form>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-form-field fxFlex="48%">
            <mat-label>Feature</mat-label>
            <input type="text" matInput [(ngModel)] = "featureObject.feature" name="feature">
          </mat-form-field>
  
          <span fxFlex="48%" fxHide.lt-md></span>

          <mat-form-field fxFlex="48%">
            <mat-label>Value Type</mat-label>
            <mat-select [(ngModel)] = "featureObject.valueType"  name="valueType">
              <mat-option *ngFor="let value of valueData" [value]="value">
                {{ value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <span fxFlex="48%" fxHide.lt-md></span>
  
          <mat-form-field fxFlex="48%">
            <mat-label>Data Type</mat-label>
            <mat-select [(ngModel)] = "featureObject.dataType"  name="dataType">
              <mat-option *ngFor="let data of dataData" [value]="data">
                {{ data }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <span fxFlex="48%" fxHide.lt-md></span>
  
          <mat-form-field fxFlex="48%">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)] = "featureObject.category" name="category">
              <mat-option *ngFor="let category of categoryData" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex="48%" fxHide.lt-md></span>
          
          <div fxFlex="18%">
            <mat-checkbox labelPosition="before" [(ngModel)] = "featureObject.status"  name="status">Status</mat-checkbox>
          </div>

        </div> 

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button mat-raised-button color="accent" [routerLink]="['/featuredetails']">Get</button>
          <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
          <button mat-raised-button color="primary" [routerLink]="['/featuredetails']" (click)="submitFeature()">Submit</button>
        </mat-card-actions>

    </form>
    </mat-card>
  
  </div>
  